<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="FeedbackManagerConnectionString"
      connectionString="Data Source=VLADO\SQLEXPRESS;Initial Catalog=feedback_manager;User ID=FeedbackManager;Password=@fGm1ND1#"/>
  </connectionStrings>
  <appSettings>
    <add key="FeedbackManagerApplicationKey" value="V1_0D06C23E-9FC1-472F-B042-6B96B9CE2FDF"/>
    <add key="AuthenticationScheme" value="Basic"/>
    <add key="AuthenticationUserLoginHeader" value="X-UserLogin"/>
    <add key="AuthenticationUserPasswordHeader" value="X-UserPassword"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  
  <!-- Logging -->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/ApplicationLog.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <!--  
    1.OFF - nothing gets logged  
    2.FATAL   
    3.ERROR  
    4.WARN  
    5.INFO  
    6.DEBUG  
    7.ALL - everything gets logged  
    -->
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

</configuration>
