<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FM.Data.Access.Impl.LinqSql.Properties.Settings.feedback_managerConnectionString"
            connectionString="Data Source=VLADO\SQLEXPRESS;Initial Catalog=feedback_manager;User ID=FeedbackManager"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>